
.bg-light {
    background-color: #f8f9fa !important;
}

.card {
    border-radius: 10px;
}

.table {
    border: 1px solid #dee2e6; 
}

.table th, .table td {
    vertical-align: middle;
}

.form-control-sm {
    width: 60px; 
}

.btn {
    min-width: 100px; 
}
